### Build ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar
gradle.properties

### CDK ###
.cdk.staging
cdk.context.json
cdk.out

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Other ###
logs/
.env.sh
