<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_DIR" value="fi-web/logs"/>
    <property name="APP_NAME" value="${springAppName:-app}"/>

    <!-- Console appender with color encoding and fixed width elements -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level) %d{yyyy-MM-dd HH:mm:ss.SSS} [%-15.15thread] %cyan(%-30.30logger{30}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- JSON file appender -->
    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/${APP_NAME}-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp><timeZone>UTC</timeZone></timestamp>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <pattern><pattern>{"pid": "${PID:-}", "appName": "${APP_NAME}"}</pattern></pattern>
                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APP_FILE"/>
    </root>

    <logger name="org.springframework" level="warn"/>
    <logger name="org.hibernate" level="warn"/>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>